.politespace-proxy {
	position: relative;
}
.politespace-proxy :first-child {
	display: none;
}
.politespace-proxy.active :first-child {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}
.politespace-proxy.active input {
	color: transparent;
}
